DATABASE_URL="postgresql://user:password@ep-xxx.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="change-me-to-a-random-32-character-string"
CANTEEN_ADMIN_PASSCODE="niet2006"
SUPER_ADMIN_PASSCODE="pkdas"
FRONTEND_URL="https://campus-bite-tau.vercel.app"
PORT=3000